.section-linear-daily {
  background-color: map-get($colors, "black");
  color: map-get($colors, "white");
  text-align: center;
  .div-linear-daily h3 {
    padding: 0 30px;
    margin: 0 auto;
  }
}

